@import "../../application_wrapper/core";

#AccountActivation{
  padding-top: 120px;

  #AccountActivationStatus{
    border:1px solid $border_grey;
    padding:20px;
    color:$fatskill_main;
    border-radius:10px;
    text-align: center;

    div{
      > p:first-child{
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding:5px 15px;
        margin-bottom:5px;
        display:inline-block;
        border:1px solid $border_grey;

        &.pending{
          color:$dark_text;
        }

        &.success{
          border:1px solid $fatskill_green;
          color:$fatskill_green;
        }

        &.failed{
          border:1px solid $fatskill_main;
        }
      }

      blockquote{
        text-align: left;
      }

      p:last-child{
        text-align: left;
        margin-bottom:0px;
        color:$dark_text;
      }
    }
  }

  .activation_token{
    word-wrap: break-word;
  }
}