@import "../../../../application_wrapper/core";

#DashboardTestsCreate{
  #test-creation-help-column{
    .step{
      border-bottom:1px solid $border_grey;
      margin-bottom:1rem;
      padding-bottom:1rem;

      .title{
        text-align: right;
        display:block;
        font-weight: bold;
        font-size:2rem;

        > span{
          background:$fatskill_main;
          display:inline-block;
          padding:0px 1rem;
          text-align: center;
          color:$white_text;
          border-radius:4px;
        }
      }

      .body{
        display:table;
        margin:0px;

        i{
          font-size:6rem;
          display:table-cell;
          vertical-align: middle;
          color:$fatskill_main;
        }

        > span{
          display:table-cell;
          vertical-align: middle;
          padding-left:2rem;

          > span{

          }
        }
      }
    }
  }

  #test-creation-form-column{
    #create-test-form{
      textarea{
        resize:none;
        height:200px;
      }

      input[type="checkbox"]{
        height:32px;
        width:32px;
      }

      >div{
        span{
          font-size: 1.6rem;
          font-weight: 700;
          margin-bottom: .5rem;
          vertical-align: top;
          margin-top: 6px;
          display: inline-block;
          margin-left: 10px;

          i{
            vertical-align: top;
            margin-top:0px;
            cursor:pointer;
            margin-right:5px;
          }

          div{
            display:inline-block;
            position:relative;
          }
        }

        label{
          i{
            vertical-align: top;
            margin-top:0px;
            cursor:pointer;
            margin-right:5px;
          }

          div{
            display:inline-block;
            position:relative;
          }
        }

        .input-help{
          display:none;

          &.show{
            display:block;
            position: absolute;
            font-weight:300;
            width:400px;
            color:$white_text;
            background:$dark_grey_background;
            opacity:0.8;
            z-index: 999;
            padding:10px 15px;
            border-radius:4px;
            font-size:1.3rem;
          }

          p{
            margin:0px;
          }
        }
      }
    }
  }
}