@import "../../application_wrapper/core";


#Dashboard{
  .dashboard-content{
    background:$main_bg_color;
    border-radius:4px;
    box-shadow:0px 0px 5px $light_grey_background;
    padding:20px;
  }

  .dashboard-header{
    border-bottom:1px solid $border_grey;
    margin-left:-20px;
    padding-left:20px;
    margin-right:-20px;
    padding-right:20px;
    margin-top:-20px;
    padding-top:10px;
    margin-bottom:20px;
    padding-bottom:10px;

    h1{
      margin:0px;
      font-size:3.2rem;
      text-transform: uppercase;
      color:$fatskill_main;
    }
  }

  .dashboard-breadcrumbs{

    ul{
      margin:0px;
      margin-top:-10px;
      margin-bottom:10px;
    }

    a{
      li{

        &::after{
          content:'>';
          margin-left:5px;
        }

        &:hover{
          opacity:1;
          cursor:pointer;
        }
      }
    }

    li{
      opacity:0.7;
      display:inline-block;
      margin-right:5px;
      cursor:default;
    }


  }

  .dashboard-body{
    .subtitle{
      border-bottom:1px solid $border_grey;
    }
  }


  #DashboardMain{

    .recharts-responsive-container{
      max-width: 300px;
      max-height: 300px;
      margin: auto;
    }

  }
}