@import '../../application_wrapper/core';



body{
  background-color: $main_bg_color;
  margin:0;
}

#home{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#home h1{
  font-weight:200;
  color: $fatskill_main;
  text-align: center;
}

#logo-wrap{
  text-align: center;
  display:block;
  max-width:800px;
  width:100%;
  margin:auto;
}

#logo{
  width:100%;
}