/**
 * @author "Tom Freeborough"  <thomas@hotsnapper.com> (15 Aug 2016)
 *
 * This is the core scss file that defines site-wide colours and options, non-component specific styles should be placed
 * here and used to define base colours and styles that the rest of the site uses, by default two colour variables
 * have been included to give you an idea on syntax and naming convention.
 */

/**
  CORE SITE COLOURS
*/
$main_bg_color: #FFFFFF;
$fatskill_main: #E42960;
$fatskill_green: #86C17F;
$light_grey_background: #C9C9C9;
$dark_grey_background: #2D2D2D;

/**
  BORDERS
*/
$border_grey: #D3D3D3;

/**
  BUTTONS
*/
$button_grey: $border_grey;
$button_grey_border: #878787;

/**
  TEXT
*/
$white_text: $main_bg_color;
$dark_text: #606c76;
$red_text: $fatskill_main