@import "../application_wrapper/core";

a{
  color: $fatskill_main;
}

.button{
  border: 0.1rem solid $button_grey_border;
  color:$fatskill_main;

  &:hover{
    color:$main_bg_color;
  }
}

.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline{
  border: 0.1rem solid $border_grey;
  color:$fatskill_main;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus{
  border-color: $fatskill_main;
}

blockquote{
  &.success{
    border-left: 0.3rem solid $fatskill_green;
  }

  &.warning{
    border-left: 0.3rem solid $fatskill_main;
  }
}